#img-bg{
    background-image: url('https://i.imgur.com/vBbg9Nr.jpg');
    
    min-height: 760px;
    max-width: 100%;
    height: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tipofonte{
    font-size: 50px;
    font-family: 'bebas neue', sans-serif
}

.ebutton{
    transition: all 0.5s;
    cursor: pointer;
}

.ebutton:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}